@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    line-height: 20px;
    color: #fff;
}


.conteiner {
    max-width: 1200px;
    margin: 0 auto;
}

a {
    color: #fff;
}